*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

nav{
    width:35%;
    border: 2px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    border-radius:10px;
}

.image{
    display:flex;
    justify-content:center;
    margin-top:20px;
}

.image img{
    border-radius:10px;
    max-width:90%;
    margin-bottom:20px; 
}

.paragraph{
    text-align: center;
    padding:10px 0px 10px;
}

.paragraph h1{
    padding:0px 50px 20px;
    font-size:30px;
    line-height:35px;
}

.paragraph p{
    padding:0px 60px 10px;
    line-height:22px;
}

/* Media Queries of 1237px */
@media(max-width:1240px){
nav{
   width:50%;
}
}

/* Media Queries of 855px */
@media(max-width:855px){
nav{
    width:65%;
}
}

/* Media Queries of 660px */
@media(max-width:660px){
nav{
   width:85%;
}

.paragraph h1{
    padding:0px 30px 20px;
}

.paragraph p{
    padding:0px 40px 10px;
}
}

/* Media Queries of 550px */
@media(max-width:550px){
nav{
   width:95%;
}

.paragraph h1{
    font-size:25px;
    padding:0px 20px 20px;
}

.paragraph p{
    padding:0px 30px 10px;
}
}

    